<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.faithgen.testimonies">

    <application>
        <activity android:name=".activities.CreateTestimonyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserTestimoniesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TestimonyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TestimoniesActivity"
            android:label="@string/title_activity_testimonies"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>